{%extends 'base.html'%}

{%block content%}

<style type="text/css">
table, th {
	text-align: center;
}
</style>

<a href="{%url 'accounts:CreateViewPaciente'%}">Registrar paciente</a>
<p>
<div class="table-responsive">

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Usuario</th>
				<th>Nombre</th>
				<th>Teléfono</th>
				<th colspan="2">Opciones</th>
			</tr>
		</thead>
		<tbody>
		{%for perfil in perfiles%}
			<tr>
				<td>{{perfil.user.username}}</td>
				<td>{{perfil.user.first_name}} {{perfil.user.last_name}}</td>
				<td>{{perfil.phone}}</td>
				<td><a href="{%url 'accounts:DetailViewPaciente' perfil.user.username%}">Ver historial</a></td>
				<td><a href="{%url 'accounts:DeleteViewPaciente' perfil.user.pk%}">Borrar</a></td>
			</tr>
		{%endfor%}
		</tbody>
	</table>
</div>

{%endblock content%}
